.animation_1 {
	user-select: none;
	animation: rotate .6s, pulse .4s .6s cubic-bezier(0,.98,1,.89) , expand 1s .8s ease forwards;
}

.animation_about {
	user-select: none;
	background-color: rgba(#fff, 0.4);
	animation: rotate_about .6s ease, pulse_about .4s .6s cubic-bezier(0,.98,1,.89) , expand_about 1s .8s ease forwards;
			
}

.animation_cont {
	animation: rotate_cont .9s ease forwards;
}

@keyframes rotate_cont {
	from {
		transform: rotate(30deg);
	}

	to {
		transform: translateY(20%) rotate(0deg);
	}
}

@keyframes rotate_about {
	from {
		transform: translateY(0) rotate(0);
	}

	to {
		transform: translateY(50%) rotate(30deg);
	
	}
}


@keyframes pulse_about {
	from {
		transform: translateY(50%) rotate(30deg) scale(0.98);
	}

	to {
		transform: translateY(50%) rotate(30deg) scale(1);
	}

}

@keyframes expand_about {
	from {
		transform: translateY(50%) rotate(30deg) scale(1);
		border: 1px solid rgba(#fff, 0.5);
	}

	to {
		transform: translateY(100%) rotate(30deg) scale(1.5);
		background-color: transparent;
		border: 1px solid rgba(#fff, 0);
	}
}

@keyframes rotate {
	from {}

	to {
		transform: rotate(30deg);
	}
}

@keyframes pulse {
	from {
		transform: rotate(30deg) scale(0.98);
	}

	to {
		transform: rotate(30deg) scale(1);
	}

}

@keyframes expand {
	from {
		transform: rotate(30deg) scale(1);
		border: 1px solid rgba(#fff, 0.4);
	}

	to {
		transform: rotate(30deg) scale(1.5);

		background-color: transparent;
		border: 1px solid rgba(#fff, 0);
	}
}



.animation_whitefade {
	transition: background-color 1s 0.8s ease;
	background-color: #fff;

	.main__messageme {
		transition: color .6s 0.7s ease;
		color: transparent;
	}
}

.animation_whitefade_s {
	transition: background-color 1s ease;
	background-color: #fff;

	.main__messageme {
		transition: color .6s ease;
		color: transparent;
	}
}