.animation_item {
	user-select: none;
	animation: expand .6s ease forwards;
}


@keyframes expand {
	from {
		transform: rotate(0) scale(1);
		border: 1px solid rgba(#fff, 0.4);
	}

	to {
		transform: rotate(0) scale(1.5);

		background-color: transparent;
		border: 1px solid rgba(#fff, 0);
	}
}

.animation_whitefade {
	transition: background-color .6s ease;
	background-color: #fff;
	user-select: none;

}