body {
	background: url('../img/test.jpg') no-repeat center center / cover;
}

.contacts {
	display: block;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;

	background-color: rgba(#000, 0.5);
	&__inner {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__item {
		content: "";
		width: 23%;
		height: 400px;
		border: 1px solid white;
		background-color: rgba(white, .9);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	
	&__title  {
		font-size: 22px;
		font-weight: 700;
		letter-spacing: 1.2;
		text-transform: uppercase;
		display: block;
	}

	&__subtitle {
		font-size: 18px;
		font-weight: 600;
		margin-top: 30px;
		display: block;
		&:hover {
			text-decoration: underline;
		}
		cursor: pointer;
	}

	a {
		
		&:hover {
			text-decoration: underline;
		}
	}
}

@import "resp/resp_contacts.scss";