$error_color: #fc3030;

body {
	overflow: auto;
}

input  {
	display: block;
}

textarea {
	display: block;
	width: 100%;
}

.contacts {

	width: 100%;
	background: url('../img/test.jpg') no-repeat center center / cover;
	&__inner {
		padding: 30vh 0;
		width: 100%;
		background-color: rgba(#000, 0.5);
	}
}

.contactme {
	/* .contactme__inp */
	max-width: 550px;
	margin: 0 auto;

	&__inp {
		font-size: 18px;
		border: none;
		outline: none !important;
		background-color: rgba(#fff, 0.9);
		padding: 15px;
	}

	&__inps {
		display: flex;
		justify-content: space-between;
		input {
			width: 100%;
			display: block;
		}

	}

	&__inp_text {
		width: 100%;
		display: block;
		resize: none;
		margin-top: 30px;
		margin-bottom: 20px;
		height: 250px;
	}

	/* .contactme__btn */
	&__btn {
		padding: 10px 15px;
		font-size: 16px;
		float: right;
		transition: background .4s, color .4s;
		&:hover {
			background-color: #555;
			color: white;
		}
	}

	&__inpwrapper {
		position: relative;
		
		width: 45%;
	}
	
	&__errorbg {
		background-color: $error_color;
	}

	&__errorbc {
		border-color: $error_color;
	}
	
	&__errorwrapper {
		display: none;
		
		//width: 200px;
		border-radius: 1px;
		padding: 5px;
		position: absolute;
		bottom: -26px;
		left: 7px;	
	}
	
	&__showerror {
		display: block;
	}

	&__error {
		color: black;
		z-index: 5;
		display: flex;
		
		div {
			display: block;
			content: "";
			position: absolute;
			top: -7px;
			left: 15px;	
	
			
			height: 0;
			width: 0;
			border-bottom-style: solid;
			border-bottom-width: 7px;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: none;
			z-index: 10;
		}
	}
}

.error-sign {
	border: 1px solid black;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	position: relative;
	display: block;
	margin-right: 10px;
	margin-left: 7px;

	span {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);		
	}
}

.thankyou-note {
	color: #333;
	background-color: rgba(#fff, .7);
	font-size: 40px;
	padding: 15px;
	opacity: 0;
	visibility: 0;
	display: none;

	span {
		display: block;
		font-size: 16px;
		margin-top: 13px;
	}

	a {
		font-weight: 500;
	}
}

.fadein_anim {
	opacity: 1;
	visibility: 1;
	display: block;
	animation: fadein .5s forwards;
}

.fadeout_anim {
	opacity: 0;
	visibility: 0;
	display: none;
	animation: fadeout .2s forwards;
}

@keyframes fadein {
	from { opacity: 0; } 
	to  { opacity: 1; }
}

@keyframes fadeout {
	from  { opacity: 1; }
	to { opacity: 0; } 
}

@import "resp/resp_contactme.scss";