$main_border_color: white;
$dark_hover: #333;
$trs_time: .7s;

body {
	background: url('../img/bg8.jpg') no-repeat center center / cover;
}

.main {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;

	&__blur {
		position: absolute;
		display: block;

		width: 100%;
		height: 100%;
		background-color: rgba(black, .8);
		z-index: 2;
	}

	&__inner {
		display: flex;
		width: 100%;
		height: 100%;
		margin-left: 6px;
	}

	&__column {
		display: flex;
		flex-direction: column;
	}
}

.main-block {
	content: "";
	display: block;

	position: relative;
	z-index: 3;
	
	margin-bottom: -1px;
	border: 1px solid $main_border_color;
	color: white;
	font-weight: 700;
	cursor: pointer;

	transition: background-color 0.7s, transform $trs_time ease-in-out;
		
	padding: 140px;

	&:hover {
		background-color: rgba(#fff, 0.4);
	}
	
	&__mdlt {
		margin-top: 100px;
	}	
	
	&__lstt {
		margin-top: 220px;
	}

	&__optnumber {
		position: absolute;
		display: block;
		top: -20px;
		left: -10px;
		font-size: 12px;
		&:after {
			display: block;
			content: "";
			width: 40px;
			height: 1px;
			background-color: #fff;
			margin-top: 4px;
		}
	}

	&__title {
		position: relative;
	}

	/* !!! */
	&__cont {
		display: inline-block;
		white-space: nowrap;
		font-size: 24px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-weight: 600;

		text-transform: uppercase;

	}
	
	&__wrapper {
		
		display: block;
		width: 100%;
		height: 100%;
	}
}

.profile-block {
	cursor: default;
	background-color: rgba(#fff, 0.2);
	padding: 300px;
	position: relative;
	margin-top: 0px;
	margin-left: 0px;
	color: white;
	border: 1px solid #fff;

	transition: transform $trs_time;
	
	span {
		display: block;
	}
	
	&__wrapper {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&__greet  {
		font-size: 22px;
		font-weight: 300;
		margin-bottom: 25px;
	}

	&__title {
		font-size: 24px;
		font-weight: 600;
		text-transform: uppercase;
		position: relative;	

		&_prof {
			font-size: 30px;
			letter-spacing: 1.2;
			font-weight: 900;
			margin-bottom: 5px;
		}
	}

	&__soc {
		margin-top: 30px;
	}

	&__messageme {
		display: inline-block;
		background-color: white;
		color: #202020;
		font-weight: 500;
		margin-top: 50px;
		border-radius: 2px;
		text-align: center;
		padding: 10px 5px 12px 5px;
		font-size: 20px;
		transition: background .4s, color .3s;
		cursor: pointer;

		&:hover {
			background-color: $dark_hover;
			color: white;
		}

	}
}


.social {
	display: flex;
	justify-content: center;

	&__link {
		content: "";
		position: relative;
		width: 30px;
		height: 30px;
		
	
		border: 1px solid white;
		cursor: pointer;
		transition: all .3s, color .25s;

		&:hover {
			background-color: #fff;
			img {
				filter: invert(0.8);
			}
			color: #444;
		}
		margin: 5px;
	}

	&__inner {
		width: 100%;
		height: 100%;
	}

	&__icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		height: 16px;
	}
}

.scale {
	&__init {
		transform: scale(.01);	
	}

	&__dest {
		transform: scale(1);
	}
}

.emmet-trftx {
	&__right {
		transform: translateX(1px) scale(1);	
	}

	&__left {
		transform: translateX(-1px) scale(1);	
	}
}

 

