$main_border_color: white;
$dark_hover: #333;

.main {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;

	&__inner {
		position: absolute;
		display: flex;
		left: 100%;
		height: 100%;
		width: 1200px;
		height: 600px;
		transform: rotate(-30deg);
	}

	&__row {
		display: flex;
		flex-direction: column;
		width: 24%;

		&:first-child {
			width: 56%;
			height: 110%;
		}

		&_middle {
			margin-top: 2.7%;
			height: 130%;
		}

		&:last-child {
			margin-top: 14.2%;
			height: 90%;
			
		}
	}
		
	&__item {
		z-index: 5;
		display: block;
		cursor: default;
		width: 100%;
		height: 100%;
		
		content: "";
		color: white;
		
		border: 1px solid $main_border_color;
		font-weight: 700;	
		position: relative;
		transition: background-color 0.7s, transform .7s ease-in-out;
		transform: scale(0);
		margin-bottom: -1px;
		
		
		&_scale {
  			transform: scale(1);
		}

		&_nohover {
			cursor: default;
			background-color: transparent;
			visibility: hidden;
			opacity: 0;			
			&:hover {
				background-color: transparent;
			}
		}
		&_port {
			height: 115%;
		}

		&_profile {
			cursor: default;
			background-color: rgba(#fff, 0.2);
		}
	}
	&__ycursor {
		cursor: pointer;
	}
	&__yhover {
		//cursor: pointer;
		&:hover {
			background-color: rgba(#cfcfcf, 0.4);
		}
	}

	&__ycurhov {
		cursor: pointer;
		&:hover {
			background-color: rgba(#cfcfcf, 0.4);
		}
	}
	
	&__item_r {}

	&__item_l {}

	&__greet  {
		font-size: 22px;
		font-weight: 300;
		margin-bottom: 25px;
	}

	&__title {
		font-size: 22px;
		font-weight: 600;
		text-transform: uppercase;
		position: relative;	

		&_prof {
			font-size: 30px;
			letter-spacing: 1.2;
			font-weight: 900;
			margin-bottom: 5px;
		}
	}

	&__optnumber {
		position: absolute;
		display: block;
		top: -20px;
		left: -10px;
		font-size: 12px;
		&:after {
			display: block;
			content: "";
			width: 40px;
			height: 1px;
			background-color: #fff;
			margin-top: 4px;
		}
	}
	
	&__messageme {
		display: inline-block;
		background-color: white;
		color: #202020;
		font-weight: 300;
		margin-top: 50px;
		border-radius: 2px;
		text-align: center;
		padding: 10px 5px 12px 5px;
		font-size: 18px;
		transition: background .4s, color .3s;
		cursor: pointer;

		&:hover {
			background-color: $dark_hover;
			color: white;
		}

	}
	&__cont {
		span {
			display: block;
		}

		&_b {
			top: 80%;
		}

		&_profile {
			left: 58%;
			top: 50%;
		}

		display: block;
		position: absolute;
		white-space: nowrap;
		left: 35%;
		top: 40%;
		
		transform: translate(-50%, -50%) rotate(30deg);
		font-size: 30px;
	}

	&__soc {
		margin-top: 50px;
	}
}



.social {
	position: relative;
	display: flex;
	
	&__link {
		content: "";
		position: absolute;
		left: 50%;
		width: 30px;
		height: 30px;
		
		border: 1px solid white;
		
		cursor: pointer;

		&:nth-child(1) {	
			transform: translate(-300%, 0);
		}
	
		&:nth-child(2) {
			transform: translate(-175%, 0);
		}	
		
		&:nth-child(3) {
			transform: translate(-50%, 0);
		}

		&:nth-child(4) {
			transform: translate(75%, 0);
		}

		&:nth-child(5) {
			transform: translate(200%, 0);
		}		
			
		transition: all .3s, color .25s;
		&:hover {
			background-color: #fff;
			img {
				filter: invert(0.8);
			}
			color: #444;
		}
	}

	&__inner {
		width: 100%;
		height: 100%;
		position: relative;
	}

	&__icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		height: 16px;
	}

	&__add {
		position: absolute;
		right: 3px;
		bottom: 3px;
		font-size: 11px;
		font-weight: 400;
	}

}