@import "lib/pre.scss";
//@import "../../fonts/stylesheet.css";
@import "animation.scss";
@import "varaibles.scss";

//Titillium Web main
//Roboto			portfolio

//Open sans 
//Bebas Neue		resume
//Montserrat

body {
	position: relative;
	background-color: white;
	overflow: hidden;
	font-family: 'Titillium Web', sans-serif;
}

.cont-container {
	max-width: 1920px;
	padding: 0 30px;
	display: block;
	margin: 0 auto;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	display: block;
	margin: 0 30px;
}

.middle-container {
	max-width: 1250px;
	margin: 0 auto;
	display: block;
	margin: 0 30px;
}

.little-container {
	max-width: 1200px;
	padding: 0 50px;
	display: block;
	margin: 0 auto;
}


.tiny-container {
	max-width: 1000px;
	margin: 0 auto;
	display: block;
	margin: 0 30px;
}

@import "resp/resp_main.scss";