.menu {
	z-index: 200;
	position: absolute;
	top: -150px;
	left: 0;
	
	width: 100%;
	border-bottom: 1px solid white;
	
	transition: top .6s;
	height: 9vh;
		
	&__inner {
		display: flex;
		height: 100%;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		color: white;
		padding: 0 40px;
		font-size: 20px;
		cursor: pointer;
		transition: background-color .4s, color .4s;
		font-weight: 600;
		border-left: 1px solid #fff;
		background-color: transparent;

		&:last-child {
			border-right: 1px solid #fff;
		}
		&:hover {
			background-color: rgba(white, 0.4);
		}
	}
}

.menu__burger {
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	
	div {
		position: relative;
		content: "";
		display: block;
		width: 25px;
		height: 2px;
		background-color: #fff;
		border-radius: 1px;

		&:after {
			position: absolute;
			content: "";
			display: block;
			width: 25px;
			height: 2px;
			background-color: #fff;
			left: 0;
			top: -6px;
			border-radius: 1px;
		}

		&:before {
			position: absolute;
			content: "";
			display: block;
			width: 25px;
			height: 2px;
			background-color: #fff;
			left: 0;
			bottom: -6px;
			border-radius: 1px;
		}
	}
}

.side-menu {
	/* .side-menu__inner */
	max-width: 300px;
	width: 100%;
	background-color: #333;
	display: inline-block;
	position: absolute;
	height: 100vh;
	opacity: 0;
	z-index: 10;
	left: -300px;
	
	transition: left .5s;
	
	padding-top: 9vh;
	/* .side-menu__item */
	&__item {
		display: block;
		padding: 20px 40px;
		color: white;
		border-bottom: 1px solid white;
		font-weight: 600;
		font-size: 20px;
	}
}



@import "resp/resp_menu.scss";