@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 600px) {
	.contactme {
		height: auto;
		width: auto;
		&__blur {
			height: auto;
			width: auto;
		}

		&__inner { 
			height: auto;
			width: auto;
		}

		&__cont {
			padding: 13vh 30px 100px 30px;
		}

		&__inpwrapper {
			width: 75%;
		}

		&__inps {
			display: block;

			input {
				margin-top: 20px;
				width: 100%;
			}
		}

		
	}

	.container {
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100vh;
	}
}
