@media screen and (max-width: 800px) {
	.container {
		max-width: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.cont-container {
		max-width: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.little-container {
		max-width: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.middle-container {
		max-width: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}
}