body {
    background: url("../img/bg8.jpg") no-repeat center center/cover;
}

.main {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.main__blur {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.main__inner {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 6px;
}

.main__column {
    display: flex;
    flex-direction: column;
}

.main-block {
    content: "";
    display: block;
    position: relative;
    z-index: 3;
    margin-bottom: -1px;
    border: 1px solid white;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.7s, transform 0.7s ease-in-out;
    padding: 140px;
  /* !!! */
}

.main-block:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.main-block__mdlt {
    margin-top: 100px;
}

.main-block__lstt {
    margin-top: 220px;
}

.main-block__optnumber {
    position: absolute;
    display: block;
    top: -20px;
    left: -10px;
    font-size: 12px;
}

.main-block__optnumber:after {
    display: block;
    content: "";
    width: 40px;
    height: 1px;
    background-color: #fff;
    margin-top: 4px;
}

.main-block__title {
    position: relative;
}

.main-block__cont {
    display: inline-block;
    white-space: nowrap;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    text-transform: uppercase;
}

.main-block__wrapper {
    display: block;
    width: 100%;
    height: 100%;
}

.profile-block {
    cursor: default;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 300px;
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    color: white;
    border: 1px solid #fff;
    transition: transform 0.7s;
}

.profile-block span {
    display: block;
}

.profile-block__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.profile-block__greet {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 25px;
}

.profile-block__title {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.profile-block__title_prof {
    font-size: 30px;
    letter-spacing: 1.2;
    font-weight: 900;
    margin-bottom: 5px;
}

.profile-block__soc {
    margin-top: 30px;
}

.profile-block__messageme {
    display: inline-block;
    background-color: white;
    color: #202020;
    font-weight: 500;
    margin-top: 50px;
    border-radius: 2px;
    text-align: center;
    padding: 10px 5px 12px 5px;
    font-size: 20px;
    transition: background .4s, color .3s;
    cursor: pointer;
}

.profile-block__messageme:hover {
    background-color: #333;
    color: white;
}

.social {
    display: flex;
    justify-content: center;
}

.social__link {
    content: "";
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    cursor: pointer;
    transition: all .3s, color .25s;
    margin: 5px;
}

.social__link:hover {
    background-color: #fff;
    color: #444;
}

.social__link:hover img {
    -webkit-filter: invert(0.8);
    filter: invert(0.8);
}

.social__inner {
    width: 100%;
    height: 100%;
}

.social__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 16px;
}

.scale__init {
    transform: scale(0.01);
}

.scale__dest {
    transform: scale(1);
}

.emmet-trftx__right {
    transform: translateX(1px) scale(1);
}

.emmet-trftx__left {
    transform: translateX(-1px) scale(1);
}

/*# sourceMappingURL=../maps/index.css.map */
